spec
specification.md
session*

.zig-cache
zig-cache/
zig-out/
/release/
/debug/
/build/
/build-*/
/docgen_tmp/

# Ignore the generated documentation befor it is published
# /docs
.zig-cache
zig-out

# custom
/tmp

.vscode/
.DS_Store
